<form asp-method="post" asp-action="AddAnimal">
    <h5>Name:</h5>
    <input type="text" name="Name" />
   
    <h5>Age:</h5>
    <input type="number" name="Age" />
    
    <h5>Breed:</h5>
    <input type="text" name="Breed" />
    
    <h5>Description:</h5>
    <input type="text" name="Description" />
    
    <h5>Link to an image:</h5>
    <input type="text" name="Img" />
    
    <input type="submit" />
</form>
